@mixin container {
  display: flex;
  flex-direction: column;
  height: 100%;
  flex: 1;
  box-sizing: border-box;
}

@mixin header {
  font-size: 24px;
  color: #fff;
  font-weight: 200;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-top: 40px;
  margin-bottom: 40px;
}