$class-prefix: "tasks";

.#{$class-prefix} {
  &-container {
    display: flex;
    flex-direction: column;
    height: 100%;
    flex: 1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
  }
}