$class-prefix: "home";

.#{$class-prefix} {
  &-container {
    height: 100vh;
    background: url('../../assets/image/home_bg.jpg') no-repeat center / cover;
    display: flex;
    align-items: center;
  }
  &-main {
    height: 100%;
    box-sizing: border-box;
    flex: 1;
    display: flex;
    justify-content: space-around;
    background: rgba(0,0,0,.3);
    padding: 0 40px;
    &_box {
      flex: 0 0 40%;
      display: flex;
      flex-direction: column;
    }
  }
}