$classPrefix: 'statistics';

.#{$classPrefix} {
  &-container {
    padding-top: 40px;
    width: 100%;
    .ant-tabs-bar {
      border-bottom: none;
    }
  }
  &-chart {
    color: #fff;
    border: 1px solid #fff;
    border-radius: 4px;
    height: 100%;
    &_header {
      display: flex;
      align-items: center;
      &-item {
        padding: 10px 0;
        flex: 1;
        text-align: center;
        font-size: 16px;
        border-right: 1px solid #fff;
        border-bottom: 1px solid #fff;
        &:last-child {
          border-right: none;
        }
        span {
          font-weight: 500;
          font-size: 24px;
          display: inline-block;
          margin-right: 5px;
          &[data-type='increment'] {
            color: rgb(8, 180, 8);
          }
          &[data-type='decrement'] {
            color: rgb(224, 85, 85);
          }
        }
      }
    }
  }
}