$class-prefix: "add-task";

.#{$class-prefix} {
  &_container {
    flex: 1;
    background: rgba(0, 0, 0, 0.2);
    border-radius: 4px;
    box-sizing: border-box;
  }
  &_top {
    padding: 0 40px;
  }
  &_tasks,
  &_header {
    font-size: 24px;
    color: #fff;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_header {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  &_tasks {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  &_title {
    margin: 0;
    font-weight: 200;
    color: #fff;
  }
  &_input-icon {
    cursor: pointer;
  }
  &_task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
  }
  &_norecord {
    width: 100px;
    margin-top: 40px;
  }
}