$class-prefix: "add-task";

.#{$class-prefix} {
  &_top {
    padding: 0 40px;
  }
  &_tasks,
  &_header {
    font-size: 24px;
    color: #fff;
    font-weight: 200;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  &_header {
    padding-top: 40px;
    margin-bottom: 40px;
  }
  &_tasks {
    padding-top: 15px;
    margin-bottom: 15px;
  }
  &_title {
    margin: 0;
    font-weight: 200;
    color: #fff;
  }
  &_input-icon {
    cursor: pointer;
  }
}