$classPrefix: 'task-list';

.#{$classPrefix} {
  &_container {
    width: 100%;
    overflow: auto;
    padding: 0 40px;
    flex: 1;
    margin-bottom: 2em;
  }
  &_task-list {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  &_norecord {
    width: 100px;
    margin-top: 40px;
  }
  &_norecord-tips {
    margin: 30px;
    color: #fff;
    font-size: 24px;
    font-weight: 200;
  }
  &_container,
  &_item {
    list-style: none;
  }
  &_item {
    padding: 10px 0;
    border-bottom: 1px solid rgba(255,255,255, 0.5);
    color: #fff;
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 18px;
    &-content {
      display: flex;
      align-items: center;
      flex: 1;
      span.ant-radio + span {
        flex: 1;
      }
      &-input {
        .ant-input[data-edit='false'],
        .ant-input-disabled[data-edit='false'] {
          background: transparent;
          border: none;
          color: #fff;
          cursor: auto;
        }
      }
    }
    .anticon {
      cursor: pointer;
      &:not(:last-child) {
        margin-right: 10px;
      }
      &:hover {
        color: orange;
      }
    }
  }
}